<div class="row">
    <% @movies.each do |movie| %>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="my-rating"></div>
                <%= link_to (image_tag movie.image.url(:medium), class: 'image'), user_movie_path(movie.user, movie) %>
                <% if movie.user == current_user %>
                    <hr>
                    <%= link_to 'Edit', edit_user_movie_path(movie.user, movie), class: 'btn btn-primary' %>
                    <%= link_to "Remove", user_movie_path(movie.user, movie), method: :delete, data: { confirm: "You Sure?" }, class: 'btn btn-primary' %>
                <% end %>
            </div>
         </div>
    <% end %>
</div>

<div class="row">
    <div class="col-md-12">
        <%= will_paginate @movies %>
    </div>
</div>

<script>
$(document).ready(function(){  
    $(".js-search-form").keydown(function(e) { 
        setTimeout(function() {
            var form = $(".js-search-form");
            $.ajax({
                type: "GET",
                url: "<%= movies_path %>",
                dataType : "script",
                data: form.serialize(),
                success: function(data){}
            }); 
        }, 10);
    });
});
</script>