<div class="row">
    <div class="col-sm-12">
        <h4>My Movies</h4>
    </div>
    <% @movies.where(user: current_user).each do |movie| %>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <%= link_to (image_tag movie.image.url(:medium), class: 'image'), user_movie_path(movie.user, movie) %>
                <% if movie.user == current_user %>
                    <hr>
    	            <%= link_to 'Edit', edit_user_movie_path(movie.user, movie), class: 'btn btn-primary' %>
    	            <%= link_to "Remove", user_movie_path(movie.user, movie), method: :delete, data: { confirm: "You Sure?" }, class: 'btn btn-primary' %>
                <% end %>
            </div>
         </div>
    <% end %>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <h4>Other people movies</h4>
    </div>
    <% @movies.where.not(user: current_user).each do |movie| %>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <%= link_to (image_tag movie.image.url(:medium), class: 'image'), user_movie_path(movie.user, movie) %>
                <% if movie.user == current_user %>
                    <hr>
                    <%= link_to 'Edit', edit_user_movie_path(movie.user, movie), class: 'btn btn-primary' %>
                    <%= link_to "Remove", user_movie_path(movie.user, movie), method: :delete, data: { confirm: "You Sure?" }, class: 'btn btn-primary' %>
                <% end %>
            </div>
         </div>
    <% end %>
</div>

