<div class="row">
    <div class="col-md-5 image_tag">
		<%= image_tag @movie.image.url(:medium) %>
	</div>
	<div class="col-md-4 col-md-offset-1 text-left">		
	    <strong><h3>Title:</h3></strong>
	    <strong><h5><%= @movie.title %></h5></strong>
	    <strong><h3>Category:</h3></strong>
	    <strong><p><%= @movie.category_type %></p></strong>
	    <strong><h3>Description:</h3></strong>
	    <strong><p><%= @movie.text %></p></strong>
	    <% if @movie.ratings.exists? %>
	    	<strong><h3>Average Rating:</h3></strong>
		    <%= @movie.find_average_rating.times do %>
		    		 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
		    <% end %>
		 <% end %>
	</h1>
</div>