<!DOCTYPE html>
<html>
    <head>
        <title>MovieReview</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag('rater.min.js') %>
    </head>

    <body>
        <%= render 'layouts/main_nav' %>
        <div class="container-fluid">
            <%= render 'layouts/messages' %>
            <%= render 'layouts/sidebar' %>
            <%= yield %>
        </div>

        <div id="footer">
            <div class="container">
                <p>&nbsp;</p>
                <% if user_signed_in? %>
                    <p class="user-email pull-left">Logged in as <%= current_user.email %></p>
                <% end %>
            </div>
        </div>
    </body>
</html>
